* {
  margin: 0;
}

body {
  background: #fafafa;
  overflow-x: hidden;
  background: url('./assets/images/pattern3.jpg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoorhing: grayscale;
}
